.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  align-items: flex-start;
}

.basic-textarea{
  width: 350px;
  height: 150px;
  resize: none;
}

p{
  margin: 0;
}
