.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-spacer{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.self-ml-10per{
  align-self: flex-start;
  margin-left: 10%;
}

.mr-10per{
  margin-right: 10%;
}

.basic-textarea{
  width: 350px;
  height: 150px;
  resize: none;
}

p{
  margin: 0;
}
