<div class="centering-objects">
  <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;" class="mt-5per">
    <button mat-raised-button routerLink="/home" style="margin-left:10%;" class="small-button">戻る</button>
    <button mat-raised-button style="margin-right:10%;" class="small-button">ランダム</button>
  </div>
  <h1 class="mt-3per" style="align-self: flex-start; margin-left: 10%;">問題文</h1>
  <mat-form-field style="width: 350px;" appearance="fill">
    <textarea class="basic-textarea" matInput placeholder="問題文">私の好きな音楽ジャンルはなんでしょう？</textarea>
  </mat-form-field>
  <h1 style="align-self: flex-start; margin-left: 10%;">選択肢</h1>
  <p style="align-self: flex-start; margin-left: 10%;">正解を選択してください</p>

  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group">
  <mat-radio-button class="example-radio-button" *ngFor="let selection of selections" [value]="selection">

    <mat-form-field appearance="fill"  class="basic-input">
      <input matInput placeholder="出身地" type="text" required value="{{selection}}">
    </mat-form-field>
  </mat-radio-button>
</mat-radio-group>

  <h1 style="align-self: flex-start; margin-left: 10%;">解説</h1>
  <mat-form-field style="width: 350px;" appearance="fill">
    <textarea class="basic-textarea" matInput placeholder="解説文">解説文アイウエオアイウエオアイウエオ</textarea>
  </mat-form-field>

  <div class="mb-5per">
    <button mat-raised-button routerLink="/home" class="basic-button mb-5per" color="primary">次へ</button>
  </div>



</div>
