<div cdkDropList class="question-list" (cdkDropListDropped)="drop($event)">
  <div *ngIf="questions?.length === 0; else viewQuestions">
    <p style="text-align:center">問題の登録がされていません。</p>
  </div>
  <ng-template #viewQuestions>
    <div class="question-box" *ngFor="let question of questions index as i" cdkDrag>
      <p class="ellipsis">
        Q{{i + 1}} {{question.question}}
      </p>
      <div>
        <button mat-icon-button matSuffix routerLink="/edit-quiz/{{question.id}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matSuffix (click)="openDialog(question.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
</div>
