<div class="centering-objects">
  <app-profile-card [profile]="loginUser" [isEditProfile]=true></app-profile-card>

  <div class="mb-5per">
    <button mat-raised-button routerLink="/profile-list" class="basic-button">プロフィール一覧</button>
  </div>
  <div class="mb-5per">
    <button mat-raised-button (click)="openQrDialog()" class="basic-button">友達へ出題</button>
  </div>
  <div>
    <button mat-raised-button (click)="openScannerDialog()" class="basic-button">友達の問題を回答</button>
  </div>

  <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;" class="mt-5per mb-5per">
    <h1 class="ml-11per">問題一覧</h1>
    <button mat-raised-button class="small-button mr-11per" routerLink="/edit-quiz" >追加</button>
  </div>
  <app-question-list [questions]="sortedMyQuestions" (updateOrderEvent)="updateOrder()"></app-question-list>

</div>
