<div class="centering-objects">
  <app-profile-card [profile]="loginUser" [isEditProfile]=true></app-profile-card>

  <div class="mb-5per">
    <button mat-raised-button routerLink="/profile-list" class="basic-button">登録した知り合い一覧</button>
  </div>
  <div>
    <button mat-raised-button (click)="openDialog()" class="basic-button">QRコードの表示</button>
  </div>

  <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;" class="mt-5per mb-5per">
    <h1 class="ml-11per">問題一覧</h1>
    <button mat-raised-button class="small-button mr-11per" routerLink="/edit-quiz" >追加</button>
  </div>
  <app-question-list [previewQuestions]="previewQuestions"></app-question-list>

</div>
