<div class="centering-objects">
  <div style="align-self: flex-start; margin-left: 29px; margin-top: 20px;">
    <button mat-raised-button routerLink="/home" class="small-button">やめる</button>
  </div>
  <mat-card class="basic-card">
    {{quiz?.question}}
  </mat-card>

  <h1 style="align-self:flex-start; margin-left:10%;">
    選択肢
  </h1>

  <ng-container *ngFor="let selection of quiz?.selection">
    <button mat-raised-button class="selection-button" [disabled]="selection.id === selectedSelection" (click)="onSelect(selection.id!)">{{selection.sentence}}</button>
  </ng-container>

  <div class=" mt-10per">
    <button mat-raised-button class="basic-button" color="primary" (click)="sendAnswer()">回答</button>

  </div>

</div>
