<div class="centering-objects">
  <div style="align-self: flex-start; margin-left: 29px; margin-top: 20px;">
    <button mat-raised-button routerLink="/home" class="small-button">やめる</button>
  </div>
  <mat-card class="basic-card">
    私の好きな音楽ジャンルはなんでしょう？
  </mat-card>

  <h1 style="align-self:flex-start; margin-left:10%;">
    選択肢
  </h1>

  <ng-container *ngFor="let selection of selections">
    <button mat-raised-button class="selection-button" [disabled]="selection === selectedSelection" (click)="onSelect(selection)">{{selection}}</button>
  </ng-container>

  <div class=" mt-10per">
    <button mat-raised-button routerLink="/explanation" class="basic-button" color="primary">回答</button>

  </div>

</div>
