<div class="centering-objects mt-30per">
  <div *ngIf="this.isCorrect; else viewQuestions">
    <p>正解</p>
  </div>

  <ng-template #viewQuestions>
    <div>
      <p>ハズレ</p>
    </div>
  </ng-template>

  <p style="align-self: flex-start; margin-left: 10%;">答え</p>
  <p>{{correctAnswer}}</p>
  <p style="align-self: flex-start; margin-left: 10%;">解説</p>
  <mat-card class="basic-card">
    {{quiz?.explanation}}
  </mat-card>

  <div class="mt-5per">
    <button mat-raised-button routerLink="/result" class="basic-button" color="primary">次へ</button>
  </div>

</div>
