<div class="centering-objects mt-30per">
  <div *ngIf="this.isCorrect; else incorrect">
    <span class="correct">正解</span>
  </div>

  <ng-template #incorrect>
    <div>
      <span class="incorrect">ハズレ</span>
    </div>
  </ng-template>

  <h1 style="align-self: flex-start; margin-left: 10%;">答え</h1>
  <p>{{correctAnswer}}</p>
  <h1 style="align-self: flex-start; margin-left: 10%;">解説</h1>
  <mat-card class="basic-card">
    {{quiz?.explanation}}
  </mat-card>

  <div class="mt-5per">
    <button mat-raised-button class="basic-button" color="primary" (click)="this.onNextBtn()">次へ</button>
  </div>

</div>
