<mat-card routerLink="/start" class="profile-card">
  <div class="flex">
    <img style="align-self: center; width: 112px; height: 112px;" mat-card-md-image src="{{profile?.icon_url}}" >
    <div class="ptags">
      <div class="flex" style="border-bottom: solid 2px black;">
        <div style="width: 3em;">
          <p>
            所属
          </p>
        </div>
          <p>
            {{profile?.affilition}}
          </p>
      </div>
      <p>名前 <span>{{profile?.name}}</span></p>
      <p>生年月日 <span>{{profile?.birth_date}}</span></p>
      <p>出身地 <span>{{profile?.birth_place}}</span></p>
    </div>
  </div>

  <div style="text-align: center; margin-top: 5%;" *ngIf="isEditProfile">
    <button mat-flat-button routerLink="/edit-profile">プロフィールを編集する</button>
  </div>

</mat-card>
